<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{title}}</title>
  <!-- Favicons -->
  <link href="/static/img/favicon/favicon.png" rel="icon">
  <link href="/static/img/favicon/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
 
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link  rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/img/profile.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Muzammil Ahmad</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://web.facebook.com/profile.php?id=61554725286980" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a id="whatsapp-link" href="whatsapp://send?phone=+923110067076"><i class="bx ic--baseline-whatsapp"></i></a>
          <a href="https://github.com/Muzammilahmad12" ><i class="logos--github-icon"></i></a>
          <a href="https://www.linkedin.com/in/muzammil-ahmad-4a325123b/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Muzammil Ahmad</h1>
      <p>I'm <span class="typed" data-typed-items="Software Engineer, python Developer, Web Developer"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I am a software programmer. I am Expert in Full Stack Web Development, Writing Scripts, Doing automation projects, and also work as web application maintenance expert.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="/static/img/side-img2.JPG" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Web Developer.</h3>
            <p class="fst-italic">
              Software programmer skilled in Html5, Css3, bootstrap, JavaScript. Proficient in Python-Django, Django Rest Framework, Microsoft SQL for web development. 
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>2 December 1998</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Field:</strong> <span>Software Engineer</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+923110067076</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Thana, Malakand</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>25</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Will Graudate</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>ahmadmuzammil535@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
           <!-- <p>
              Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
              Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
            </p> -->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
        </div>
        <div class="container">
          <div class="col row ">
            <div class="col">
              <h1>HTML/CSS</h1>
              <h6>2+ Years Experience</h6>
            </div>
            <div class="col">
              <h1>BOOTSTRAP</h1>
              <h6>2+ Years Experience</h6>
            </div>
            <div class="col">
                <h1>JAVASCRIPT</h1>
                <h6>1 Years Experience</h6>
            </div>
            <div class="col">
                <h1>REACT</h1>
                <h6>BASIC KNOWLEDGE</h6>
            </div>
            <div class="col">
                <h1>PYTHON</h1>
                <h6>1+ Years Experience</h6>
            </div>
            <div class="col">
                <h1>DJANGO</h1>
                <h6>1+ Years Experience</h6>
            </div>
            <div class="col">
                <h1>MSSQL</h1>
                <h6>BASIC KNOWLEDGE</h6>
            </div>
        </div>
      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>
            A web developer builds and maintains websites using HTML, CSS, JavaScript, and server-side languages like python-Django. Responsibilities include front-end and back-end development, testing, collaboration, and continuous learning to create functional and user-friendly web experiences..</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Muzammil Ahmad</h4>
              <p><em>With years of experience as a developer, I am driven by a continual love of learning and innovation. My career is marked by collaborative efforts to develop web-based applications and improve product quality through code optimization and proactive problem-solving</em></p>
              <ul>
                <li>Faisi Tech Engineering Complex</li>
                <li>+923110067076</li>
                <li>ahmadmuzammil535@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Matric &amp; Intermediate</h4>
              <h5>2016 - 2020</h5>
              <p><em>Superior Lalazar public school and college</em></p>
              <p>In 2018, I completed my matriculation (high school) in Science with a percentage of 73%. In 2020, I pursued pre-engineering in my intermediate studies and achieved a percentage of 77%. </p>
            </div>
            <div class="resume-item">
              <h4>Graudation &amp; Web Development</h4>
              <h5>2021 - 2025</h5>
              <p><em>Riphah International University</em></p>
              <p>In 2021, I began my undergraduate degree in Software Engineering, which will conclude in 2025. Concurrently, I initiated my exploration of web development through university coursework and online Udemy courses.</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Senior web development specialist</h4>
              <h5>2022 - Present</h5>
              <p><em>Faisi Tech Engineering Complex</em></p>
              <ul>
                <li>I worked on various small web development projects initially, such as generating QR codes, implementing login systems, and integrating APIs into applications. These projects allowed me to gain practical experience and apply my skills effectively.</li>
                <li>
                  Following that, I expanded my experience by uploading numerous projects to GitHub and developing a blog web application. This allowed me to showcase my work and further enhance my web development skills.</li>
                <li>
                  I also completed an internship at Faisi Tech Engineering Complex, where I contributed to multiple projects using Python and Django. This internship provided hands-on experience and deepened my skills in web development using these technologies. </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Web development specialist</h4>
              <h5>2022 - Present</h5>
              <p><em>Thana, Malakand</em></p>
              <ul>
                <li>I possess advanced skills in Full Stack Web Development, proficient in both front-end and back-end technologies, enabling me to create robust and user-friendly web applications.</li>
                <li>As a web application maintenance expert, I specialize in ensuring the smooth operation and continuous improvement of web systems, adept at troubleshooting, updating, and securing applications for optimal performance.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Experienced software developer specializing in Full Stack Web Development, Scripting, Automation, and Web Application Maintenance. Dedicated to delivering high-quality solutions. Explore my portfolio for examples and collaboration opportunities.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
            <!--<li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>-->
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/img/portfolio/main_pic.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/static/img/portfolio/main_pic.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Blog Web Application"><i class="bx bx-plus"></i></a>
                <a href="/detail" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/img/portfolio/Coming_Soon.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/static/img/portfolio/Coming_Soon.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Coming Soon!"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>I am a software programmer. I am Expert in Full Stack Web Development, Writing Scripts, Doing automation projects, and also work as web application maintenance expert.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="fluent--code-circle-24-regular"></i></div>
            <h4 class="title"><a href="">Web Deisgn</a></h4>
            <p class="description">We specialize in custom web design with responsive layouts, user-friendly interfaces, impactful landing pages, and effective redesigns to enhance your online presence.Explore my portfolio for examples of engaging web solutions.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="streamline--hand-held-tablet-writing"></i></div>
            <h4 class="title"><a href="">Writing Scripts</a></h4>
            <p class="description">We provide custom script development to automate tasks, process data, and enhance workflow efficiency using languages like Python, JavaScript.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="wpf--maintenance"></i></div>
            <h4 class="title"><a href="">Maintenance</a></h4>
            <p class="description">We offer comprehensive web development maintenance services, ensuring website security, performance optimization, updates, and troubleshooting to keep your online presence running smoothly and efficiently.</p>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>I would love to hear from you soon. If you want to hire me for your project just leave a message here by filling the for contact form or use my other contact methods (Email, Whatsapp).</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Thana, Malakand</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>ahmadmuzammil535@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+923110067076</p>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6565.759939744791!2d72.05192603963259!3d34.63247341964902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dc03dd69b9e717%3A0x35583291d2c229a0!2sMaizara%2C%20Thana%2C%20Malakand%2C%20Khyber%20Pakhtunkhwa%2C%20Pakistan!5e0!3m2!1sen!2s!4v1712739583854!5m2!1sen!2s" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="/" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="credits">
        Designed by <a href="#">Muzammil</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/typed.js/typed.umd.js"></script>
  <script src="/static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
    $(document).ready(function() {
        $('.php-email-form').submit(function(event) {
            event.preventDefault(); // Prevent the default form submission behavior
            
            // Perform AJAX request
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(), // Serialize form data
                success: function(response) {
                    // Check if the submission was successful
                    if (response.success) {
                        // Display thank you message
                        $('.sent-message').text(response.message).show();
                        // Clear any previous error messages
                        $('.error-message').hide();
                    } else {
                        // Display error messages, if any
                        $('.error-message').text('Error: ' + response.error).show();
                        // Hide the thank you message
                        $('.sent-message').hide();
                    }
                },
                error: function(xhr, status, error) {
                    // Handle AJAX error
                    console.error('AJAX Error:', error);
                    // Display a generic error message
                    $('.error-message').text('Your message has been sent. Thank you!').show();
                    // Hide the thank you message
                    $('.sent-message').hide();
                }
            });
        });
    });
    </script>
</body>
</html>
